.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 18rem;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.btn-warning {
    color: #ffffff;
    background-color: #eacd78;
    border-color: #eacd78;
}

.btn-warning:hover {
    color: #ffffff;
    background-color: #eacd78;
    border-color: #e3c363;
}

.btn-danger {
    color: #fff;
    background-color: #d9515e;
    border-color: #d9515e;
}

.btn-danger:hover {
    color: #fff;
    background-color: #d9515e;
    border-color: #b44b55;
}

.nPostazione{
    font-size: 1.8rem;
}